@import "tailwindcss";

@layer base {
  @keyframes float {

    0%,
    100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-15px);
    }
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animation-delay-1000 {
  animation-delay: 1s;
}