services:
  postgres:
    image: postgres:15-alpine
    container_name: evently-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - evently-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: evently-backend
    restart: always
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - postgres
    ports:
      - "3003:3000"
    networks:
      - evently-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: evently-frontend
    restart: always
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:3003/api
    ports:
      - "3002:3001"
    networks:
      - evently-network

networks:
  evently-network:
    driver: bridge

volumes:
  postgres_data:
